#next-btn
{
    padding: 1em;
    position: absolute;
    right: 0;
    top: 75%;
    background: #e84118;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: 0.25s;
    font-size: 14px;
    cursor: pointer !important;
}
#next-btn:hover
{
    background: #ab2f11;
}
.show
{
    opacity: 1 !important;
}
video
{
    cursor: pointer !important;
}
